<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div id="template-round">
            <div class="col-md-6 col-xs-12">
                <div class="panel-group" id="round1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{round}}">
                                    Round {{round}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{round}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{users}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>